<!-- passwords.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwords</title>
</head>
<body>
<h1>Passwords</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    <tr th:each="password : ${passwords}">
        <td th:text="${password.id}">ID</td>
        <td th:text="${password.password}">Password</td>
        <td>
            <a th:href="@{/api/passwords/{id}(id=${password.id})}">Edit</a>
            <a th:href="@{/api/passwords/{id}(id=${password.id})}" th:method="delete">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{/api/passwords}">Create New Password</a>
</body>
</html>